@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6E2F0;
}

a {
    color: inherit;
}

.container {
    margin: 0 auto;
}

.component {
    margin: 8% 0 0 40%;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 315px;
        border-radius: 15px;
        background-color: #FFF;
        padding-top: 17px;
        
        h1 {
            padding-top: 9px;
            width: 254px;
            color: #1F3251;
            text-align: center;
            font-family: Outfit;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        
        p {
            padding: 19px 0 45px 0;
            width: 243px;
            color: #7B879D;
            text-align: center;
            font-family: Outfit;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}